﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Content/donations.css">
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <!-- to support RSA .NET encryption -->
    <script src="Scripts/SystemBundle.js"></script>
    <script src="app/app.js"></script>
    <script src="app/appConstants.js"></script>
    <script src="app/services/BIService.js"></script>
    <script src="app/donationController.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="donationController as vm">
        <section class="widget donation-history">
            <h4><i class="fa fa-heart"></i> <span translate="yes">Donation History</span></h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <a class="sort" href="" title="Sort Descending" ng-click="vm.order('donationData', 'DepositDate', true)">

                                    <span translate="yes">Date</span>
                                    <span ng-show="vm.donationData.sortType == 'DepositDate' && !vm.donationData.reverse"
                                          class="fa fa-caret-up"></span>
                                    <span ng-show="vm.donationData.sortType == 'DepositDate' && vm.donationData.reverse"
                                          class="fa fa-caret-down"></span>
                                </a>
                            </th>
                            <th>
                                <a class="sort" href="" title="Sort Descending" ng-click="vm.order('donationData', 'Description', false)">

                                    <span translate="yes">Description</span>
                                    <span ng-show="vm.donationData.sortType == 'Description' && !vm.donationData.reverse"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="vm.donationData.sortType == 'Description' && vm.donationData.reverse"
                                          class="fa fa-caret-up"></span>
                                </a>
                            </th>
                            <th class="align-right">
                                <a class="sort" href="" title="Sort Descending" ng-click="vm.order('donationData', 'Amount', true)">

                                    <span translate="yes">Amount</span>
                                    <span ng-show="vm.donationData.sortType == 'Amount' && !vm.donationData.reverse"
                                          class="fa fa-caret-up"></span>
                                    <span ng-show="vm.donationData.sortType == 'Amount' && vm.donationData.reverse"
                                          class="fa fa-caret-down"></span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="donation in vm.donationData.data.slice(vm.donationData.start, vm.donationData.end)">

                            <td>{{ donation.DepositDate | date:'MM/dd/yyyy'}}</td>
                            <td>
                                {{ donation.Description}}
                            </td>
                            <td class="align-right">${{ donation.Amount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <uib-pagination total-items="vm.donationData.data.length"
                            items-per-page="vm.donationData.numPerPage"
                            ng-model="vm.donationData.currentPage"
                            ng-show="vm.donationData.showPager"
                            max-size="5" class="pagination-sm"></uib-pagination>
        </section> <!-- end .donation-history -->
    </div>
    <script id="template/pagination/pagination.html" type="text/ng-template">
        <ul class="pagination">
            <li ng-if="boundaryLinks" ng-class="{disabled: noPrevious()}"><a ng-click="selectPage(1)" title="First Page"> <span class="glyphicon glyphicon-fast-backward"></span></a></li>
            <li ng-if="directionLinks" ng-class="{disabled: noPrevious()}"><a ng-click="selectPage(page - 1)" title="Previous Page">Previous</a></li>
            <li ng-repeat="page in pages track by $index" ng-class="{active: page.active}"><a ng-click="selectPage(page.number)">{{page.text}}</a></li>
            <li ng-if="directionLinks" ng-class="{disabled: noNext()}"><a ng-click="selectPage(page + 1)" title="Next Page">Next</a></li>
            <li ng-if="boundaryLinks" ng-class="{disabled: noNext()}"><a ng-click="selectPage(totalPages)" title="Last Page"><span class="glyphicon glyphicon-fast-forward"></span> </a></li>
        </ul>
    </script>
</body>
</html>
